<html>
    <body>
        <center>
            <h1>Operating System : {{ ansible_distribution }} </h1>
            <br>
            <h2>Hostname : {{ ansible_hostnmame }} </h2>
        </center>
    </body>
</html>